@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css');
.estructura {
    
    padding-left: 30%;
}

.logo {
    display: flex;
    flex-wrap:wrap;
    width: 320px;
    height: 220px;
    padding: 20px;
    text-align: center;
    
}

.tarjeta {
    display: flex;
    flex-wrap:wrap;
    width: 200px;
    height: 220px;
    padding: 20px;
    margin: 20px;
    border-width: 1;
    border-style: solid;
    border-color: rgb(236, 236, 236);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px rgb(229, 229, 229);
}

.tarjetadimensiones {
    display: inherit;
    flex-direction: column;
    width: 60%;
    height: 33%;
    padding: 50px;
    margin: 20px;
    border-width: 1;
    border-style: solid;
    border-color: rgb(236, 236, 236);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px rgb(229, 229, 229);
} 

.configuracioncocina {
    display: flex;
    flex-direction: row; 
    justify-content: ;
}

.tarjetadistri {
    display: flex;
    flex-direction: row;
    height: 13%;
    text-align: center;
    justify-content:space-around
    
} 

.secciondistri {
    display:flex;
    flex-direction:row;
    width: 33%;
    height: 13%;
    padding:auto ;
    border-width: 1;
    border-style: solid;
    border-color: rgb(236, 236, 236);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px rgb(229, 229, 229);
} 

.confi {
    
    width: 31%;
    border-width: 1;
    border-style: solid;
    border-color: rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px rgb(229, 229, 229);
}


